<!DOCTYPE html>
<html>
<head>
  <title>Onehundredclub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "main_page", :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<span class="bckg"></span>
<header>
  <h1>💯 Club</h1>
  <nav>
    <ul>
      <li>
        <a href="javascript:void(0);" data-title="Projects">Projects</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Team">Team</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Diary">Diary</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Timeline">Timeline</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Settings">Settings</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Search">Search</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <%= yield %>
    </div>
  </article>
</main>
</body>
</html>


