<!DOCTYPE html>
<html>
  <head>
    <title>Onehundredclub</title>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'metisMenu' %>
    <%= javascript_include_tag 'sb-admin-2' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'sb-admin-2', media: 'all' %>
    <%= stylesheet_link_tag    'metisMenu', media: 'all' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div id="wrapper">

      <%= render 'shared/navbar' if user_signed_in? %>
      <div id="page-wrapper">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
